
ReverseForward/.idea/.name

ReverseForward/.idea/encodings.xml

ReverseForward/.idea/workspace.xml

ReverseForward/.idea/inspectionProfiles/profiles_settings.xml

ReverseForward/.idea/inspectionProfiles/Project_Default.xml

ReverseForward/.idea/modules.xml

ReverseForward/.idea/misc.xml

ReverseForward/.idea/ReverseForward.iml
